<!-- title -->
<div class="page-header <% if (theme.inverse){ %>page-header-inverse <% } %>">
	 <h1 class="title <% if (theme.inverse){ %>title-inverse <% } %>"><i class="fa fa-info-circle"></i> <%= page.title %></h1>
</div>

<div class="row page">

	<% if (theme.widgets.length) { %>
	<div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	<% } %>

<div id="top_search"></div>

<div class="row">
    <div class="col-md-4">
        <%- image_tag("/img/profile.png", {class: "about-profile-png", height: 600, width: 300}) %>
    </div>
    <div class="col-md-7 col-md-offset-1">
    Bamboofox由Jeffxx、Atdog、以及現任Bamboofox的Leader寬寬等人創立於2014年，結合了交大DSNSLab、SQLab、資工系計中的資源。聚集了交大研究資訊、系統安全與管理的人才，在一年內便發展為以CTF競賽為主的社群。
    現今Bamboofox的成員含括交大、清大、中央、中原、台科大等學校的學生，廣泛的參與各CTF競賽，以及國內資安社群的活動。
    </div>
</div>

</div> <!-- col-md-9 -->

	<% if (theme.widgets.length) { %>
		<%- partial('_partial/sidebar') %>
	<% } %>

</div> <!-- row-fluid -->
